/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COLORS*/
:root {
  --color-white: #ffffff;
  --color-black: #141518;
  --color-coral: #ff424d;
  --color-grey: #b1b1b185;
}

/*SCROLL BEHAVIOR*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

/*SCROLLBAR*/
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-grey);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-coral);
}

/*GENERAL*/
body {
  font-family: 'Questrial', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1.4;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  font-weight: 2000;
  margin-bottom: 40px;
}

p {
  font-size: 1.35rem;
}

/*HEADER*/
#header {
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 75px;
  height: 80px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: var(--color-grey) .5px solid;
  font-size: 1.2rem;
}

#header-img {
  width: 60px;
  padding: 5px;
}

.nav-list {
  display: flex;
}

.nav-list li {
  padding: 10px 15px;
  position: relative;
  align-self: center;
}

.nav-list a:after {
  opacity: 0;
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-coral);
  transition: width 0.4s;
}

a:hover::after {
  width: 65%;
  opacity: 1;
}

/*INTRO*/
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 50px;
  z-index: 1;
  height: 35em;
  margin-bottom: 50px;
}

h1 {
  color: var(--color-coral);
  font-weight: bold;
  font-size: 3rem;
  width: 80%;
}

.text-intro {
  font-size: 1.5rem;
  width: 80%;
  margin-top: 35px;
}

#video {
  border: none;
}

/*QUE ES PATREON*/
#que-es-patreon {
  text-align: center;
  padding: 3%;
}

#que-es-patreon>p {
  margin: auto;
  width: 70%;
  line-height: 40px;
}


/*QUIEN USA PATREON*/
#quien-usa-patreon {
  text-align: center;
  padding: 3%;
}

#quien-usa-patreon>p {
  margin: auto;
  width: 65%;
  line-height: 35px;
}

.usuarios {
  margin: 50px 20px 0px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(155, 153, 148);
  line-height: 40px;
}

.usuarios li:hover {
  color: var(--color-coral);
  cursor: pointer;
}

/*PRECIOS*/
#precios {
  text-align: center;
  padding: 3%;
}

#precios>p {
  margin: auto;
  width: 70%;
  line-height: 40px;
}

.precios {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.plan {
  background-color: var(--color-coral);
  color: var(--color-white);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10%;
}

.plan-description {
  margin: 50px 20px 30px;
  font-size: 1.15em;
}

h3 {
  margin-top: 15px;
}

span {
  color: var(--color-coral);
  font-weight: bold;
  font-size: 2rem;
}

.product-ul {
  text-align: left;
}

.product-ul li {
  padding: 5px 0;
  list-style-type: square;
  margin: auto;
  width: 80%;
}

.btn {
  padding: 0 20px;
  height: 50px;
  width: 80%;
  font-size: 1em;
  color: var(--color-white);
  background: var(--color-coral);
  border: none;
  cursor: pointer;
  margin: 50px 0;
  border-radius: 28px;
}

/*FOOTER*/
footer {
  background-color: var(--color-black);
  padding: 2%;
  margin-top: 60px;
  text-align: center;
}

footer>p {
  color: var(--color-white);
  font-size: 2em;
  font-weight: 600;
}

#form {
  display: flex;
  flex-direction: column;
  margin: 40px auto auto auto;
}

#email {
  width: 50%;
  height: 30px;
  margin: auto;
  text-align: center;
}

#submit {
  padding: 0 20px;
  height: 40px;
  width: 50%;
  margin: 30px auto;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: .5px var(--color-coral) solid;
  color: var(--color-white);
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

/*SMARTPHONE*/
@media (max-width: 425px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
    justify-self: center;
    text-align: center;
  }

  #header-img {
    margin: 0 auto;
  }

  #nav-bar {
    display: none;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 42em;
  }

  .text-intro {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  #video {
    width: 100%;
  }

  #que-es-patreon {
    margin-bottom: 50px;
  }

  #que-es-patreon>p {
    line-height: 30px;
  }

  #quien-usa-patreon>p {
    line-height: 30px;
  }

  .usuarios {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 30px;
    margin: 50px 20px;
  }

  #precios>p {
    line-height: 30px;
  }

  .precios {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .product>p:first-of-type {
    width: 70%;
  }

  span {
    font-size: 1.5rem;
  }

  .plan-description {
    font-size: 0.9rem;
  }

  .product-ul {
    font-size: 0.9rem;
    text-align: center;
  }

  .product-ul li {
    list-style-type: none;
  }

  .btn {
    width: 50%;
    height: 40px;
  }


  footer {
    padding: 40px;
    margin-top: 40px;
  }

  footer>p {
    font-size: 1.5em;
  }

  #form {
    width: 90%;
  }

  #email {
    width: 90%;
  }

  #submit {
    width: 90%;
  }
}